# The following Tor hidden service Debian mirror URLs were fetched from
# https://onion.debian.org
deb  tor+http://vwakviie2ienjx6t.onion/debian          testing            main
deb  tor+http://vwakviie2ienjx6t.onion/debian          testing-updates    main
